In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r'/home/sunbeam/Project/Tour_Recommender_System/Complete_df.csv')

In [3]:
df.head()

,places,state,type,rating,description,best_time_to_visit,avg_accommodation_cost/day(Rs)
0,Araku Valley,andhra-pradesh,Adventure,4.8,Araku Valley is a comparatively unexplored hil...,September to February,5480.20
1,Visakhapatnam,andhra-pradesh,Beach,4.4,"Visakhapatnam, also commonly known as Vizag, i...",September to March,3630.07
2,Amaravathi,andhra-pradesh,Religious,4.9,"Known as the Capital of Andhra Pradesh, Amarav...",November to March,2246.98
3,Gandikota,andhra-pradesh,Historical,4.5,Endearingly known as the ‘Grand Canyon of Indi...,November to February,3118.42
4,Anantapur,andhra-pradesh,Historical,3.5,Anantapuram is the headquarters of Anantapur D...,September to March,3092.95

In [4]:
df.iloc[0:1,:]

,places,state,type,rating,description,best_time_to_visit,avg_accommodation_cost/day(Rs)
0,Araku Valley,andhra-pradesh,Adventure,4.8,Araku Valley is a comparatively unexplored hil...,September to February,5480.2

In [5]:
df.head(1)

,places,state,type,rating,description,best_time_to_visit,avg_accommodation_cost/day(Rs)
0,Araku Valley,andhra-pradesh,Adventure,4.8,Araku Valley is a comparatively unexplored hil...,September to February,5480.2

In [6]:
# genres
# id
# keywords
# title
# overview
# cast
# crew

In [7]:
df.columns

Index(['places', 'state', 'type', 'rating', 'description',
       'best_time_to_visit', 'avg_accommodation_cost/day(Rs)'],
      dtype='object')

In [8]:
df.isnull().sum()

places                            0
state                             0
type                              0
rating                            0
description                       0
best_time_to_visit                0
avg_accommodation_cost/day(Rs)    0
dtype: int64

In [9]:
df.duplicated().sum()

0

In [10]:
df.head(1)

,places,state,type,rating,description,best_time_to_visit,avg_accommodation_cost/day(Rs)
0,Araku Valley,andhra-pradesh,Adventure,4.8,Araku Valley is a comparatively unexplored hil...,September to February,5480.2

In [11]:
df['description'].apply(lambda x : x.split())

0      [Araku, Valley, is, a, comparatively, unexplor...
1      [Visakhapatnam,, also, commonly, known, as, Vi...
2      [Known, as, the, Capital, of, Andhra, Pradesh,...
3      [Endearingly, known, as, the, ‘Grand, Canyon, ...
4      [Anantapuram, is, the, headquarters, of, Anant...
                             ...
635    [Situated, in, the, Barabanki, district, of, U...
636    [Bithoor, is, a, quaint, little, town, nestled...
637    [Also, known, as, Shahid, Chandra, Shekhar, Az...
638    [Fort, Unchagaon, is, not, just, an, exception...
639    [Located, on, the, banks, of, Gomti, River, in...
Name: description, Length: 640, dtype: object

In [12]:
df['description'] = df['description'].apply(lambda x : x.split())

In [13]:
df['your_type'] = df['type']

In [14]:
df['places'] = df['places'].apply(lambda x : x.split())
df['state'] = df['state'].apply(lambda x : x.split())
df['type'] = df['type'].apply(lambda x : x.split())

In [15]:
df.head()

,places,state,type,rating,description,best_time_to_visit,avg_accommodation_cost/day(Rs),your_type
0,"[Araku, Valley]",[andhra-pradesh],[Adventure],4.8,"[Araku, Valley, is, a, comparatively, unexplor...",September to February,5480.20,Adventure
1,[Visakhapatnam],[andhra-pradesh],[Beach],4.4,"[Visakhapatnam,, also, commonly, known, as, Vi...",September to March,3630.07,Beach
2,[Amaravathi],[andhra-pradesh],[Religious],4.9,"[Known, as, the, Capital, of, Andhra, Pradesh,...",November to March,2246.98,Religious
3,[Gandikota],[andhra-pradesh],[Historical],4.5,"[Endearingly, known, as, the, ‘Grand, Canyon, ...",November to February,3118.42,Historical
4,[Anantapur],[andhra-pradesh],[Historical],3.5,"[Anantapuram, is, the, headquarters, of, Anant...",September to March,3092.95,Historical

In [16]:
a = 'September to February'

In [17]:
a.replace(' ','')

'SeptembertoFebruary'

In [18]:
df['best_time_to_visit'].apply(lambda x : x.replace(' ',''))

0      SeptembertoFebruary
1         SeptembertoMarch
2          NovembertoMarch
3       NovembertoFebruary
4         SeptembertoMarch
              ...
635             April-June
636             April-June
637             April-June
638             April-June
639             April-June
Name: best_time_to_visit, Length: 640, dtype: object

In [19]:
df['best_time_to_visit'] = df['best_time_to_visit'].apply(lambda x : x.replace(' ',''))

In [20]:
df.head()

,places,state,type,rating,description,best_time_to_visit,avg_accommodation_cost/day(Rs),your_type
0,"[Araku, Valley]",[andhra-pradesh],[Adventure],4.8,"[Araku, Valley, is, a, comparatively, unexplor...",SeptembertoFebruary,5480.20,Adventure
1,[Visakhapatnam],[andhra-pradesh],[Beach],4.4,"[Visakhapatnam,, also, commonly, known, as, Vi...",SeptembertoMarch,3630.07,Beach
2,[Amaravathi],[andhra-pradesh],[Religious],4.9,"[Known, as, the, Capital, of, Andhra, Pradesh,...",NovembertoMarch,2246.98,Religious
3,[Gandikota],[andhra-pradesh],[Historical],4.5,"[Endearingly, known, as, the, ‘Grand, Canyon, ...",NovembertoFebruary,3118.42,Historical
4,[Anantapur],[andhra-pradesh],[Historical],3.5,"[Anantapuram, is, the, headquarters, of, Anant...",SeptembertoMarch,3092.95,Historical

In [21]:
df['best_time_to_visit'].apply(lambda x : x.split())

0      [SeptembertoFebruary]
1         [SeptembertoMarch]
2          [NovembertoMarch]
3       [NovembertoFebruary]
4         [SeptembertoMarch]
               ...
635             [April-June]
636             [April-June]
637             [April-June]
638             [April-June]
639             [April-June]
Name: best_time_to_visit, Length: 640, dtype: object

In [22]:
df['best_time_to_visit'] = df['best_time_to_visit'].apply(lambda x : x.split())

In [23]:
df['places'].apply(lambda x: [i.replace(" ","") for i in x])

0                   [Araku, Valley]
1                   [Visakhapatnam]
2                      [Amaravathi]
3                       [Gandikota]
4                       [Anantapur]
                   ...
635                  [Dewa, Sharif]
636                       [Bithoor]
637    [Nawabganj, Bird, Sanctuary]
638           [Fort, of, Unchagaon]
639                 [Naimisharanya]
Name: places, Length: 640, dtype: object

In [24]:
df.head(1)

,places,state,type,rating,description,best_time_to_visit,avg_accommodation_cost/day(Rs),your_type
0,"[Araku, Valley]",[andhra-pradesh],[Adventure],4.8,"[Araku, Valley, is, a, comparatively, unexplor...",[SeptembertoFebruary],5480.2,Adventure

In [25]:
df['places'] = df['places'].apply(lambda x: [i.replace(" ","") for i in x])
df['state'] = df['state'].apply(lambda x: [i.replace("-","") for i in x])

In [26]:
df.head()

,places,state,type,rating,description,best_time_to_visit,avg_accommodation_cost/day(Rs),your_type
0,"[Araku, Valley]",[andhrapradesh],[Adventure],4.8,"[Araku, Valley, is, a, comparatively, unexplor...",[SeptembertoFebruary],5480.20,Adventure
1,[Visakhapatnam],[andhrapradesh],[Beach],4.4,"[Visakhapatnam,, also, commonly, known, as, Vi...",[SeptembertoMarch],3630.07,Beach
2,[Amaravathi],[andhrapradesh],[Religious],4.9,"[Known, as, the, Capital, of, Andhra, Pradesh,...",[NovembertoMarch],2246.98,Religious
3,[Gandikota],[andhrapradesh],[Historical],4.5,"[Endearingly, known, as, the, ‘Grand, Canyon, ...",[NovembertoFebruary],3118.42,Historical
4,[Anantapur],[andhrapradesh],[Historical],3.5,"[Anantapuram, is, the, headquarters, of, Anant...",[SeptembertoMarch],3092.95,Historical

In [27]:
df['all'] = df['places'] + df['state'] + df['type'] + df['description'] + df['best_time_to_visit']

In [28]:
def update_list(row):
    row['all'].append(row['avg_accommodation_cost/day(Rs)'])
    row['all'].append(row['rating'])
    return row['all']

In [29]:
df['all'] = df.apply(update_list, axis=1)

In [30]:
df.head(1)

,places,state,type,rating,description,best_time_to_visit,avg_accommodation_cost/day(Rs),your_type,all
0,"[Araku, Valley]",[andhrapradesh],[Adventure],4.8,"[Araku, Valley, is, a, comparatively, unexplor...",[SeptembertoFebruary],5480.2,Adventure,"[Araku, Valley, andhrapradesh, Adventure, Arak..."

In [31]:
new_df = df[['your_type','avg_accommodation_cost/day(Rs)','all']]

In [32]:
new_df.head()

,your_type,avg_accommodation_cost/day(Rs),all
0,Adventure,5480.20,"[Araku, Valley, andhrapradesh, Adventure, Arak..."
1,Beach,3630.07,"[Visakhapatnam, andhrapradesh, Beach, Visakhap..."
2,Religious,2246.98,"[Amaravathi, andhrapradesh, Religious, Known, ..."
3,Historical,3118.42,"[Gandikota, andhrapradesh, Historical, Endeari..."
4,Historical,3092.95,"[Anantapur, andhrapradesh, Historical, Anantap..."

In [33]:
l1 = ['Visakhapatnam',
 'andhrapradesh',
 'Beach',
 'Visakhapatnam,',
 'also',
 'commonly',45.8,2001.55]

In [34]:
result = " ".join(map(str, l1))

In [35]:
result

'Visakhapatnam andhrapradesh Beach Visakhapatnam, also commonly 45.8 2001.55'

In [36]:
new_df['all'].apply(lambda x: " ".join(map(str, x)))[1]

'Visakhapatnam andhrapradesh Beach Visakhapatnam, also commonly known as Vizag, is one of the oldest port cities in the country. Situated in the heart of Andhra Pradesh, Vizag was announced as the state capital of Andhra Pradesh on January 31, 2023. The city is known for its picturesque beaches and serene landscape, as well as a... SeptembertoMarch 3630.07 4.4'

In [37]:
new_df['all'] = new_df['all'].apply(lambda x: " ".join(map(str, x)))

/tmp/ipykernel_12909/1188700813.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['all'] = new_df['all'].apply(lambda x: " ".join(map(str, x)))

In [38]:
new_df.head()

,your_type,avg_accommodation_cost/day(Rs),all
0,Adventure,5480.20,Araku Valley andhrapradesh Adventure Araku Val...
1,Beach,3630.07,Visakhapatnam andhrapradesh Beach Visakhapatna...
2,Religious,2246.98,Amaravathi andhrapradesh Religious Known as th...
3,Historical,3118.42,Gandikota andhrapradesh Historical Endearingly...
4,Historical,3092.95,Anantapur andhrapradesh Historical Anantapuram...

In [39]:
new_df['all'] = new_df['all'].apply(lambda x:x.lower())

/tmp/ipykernel_12909/1275521402.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['all'] = new_df['all'].apply(lambda x:x.lower())

In [40]:
new_df.head()

,your_type,avg_accommodation_cost/day(Rs),all
0,Adventure,5480.20,araku valley andhrapradesh adventure araku val...
1,Beach,3630.07,visakhapatnam andhrapradesh beach visakhapatna...
2,Religious,2246.98,amaravathi andhrapradesh religious known as th...
3,Historical,3118.42,gandikota andhrapradesh historical endearingly...
4,Historical,3092.95,anantapur andhrapradesh historical anantapuram...

In [41]:
from sklearn.feature_extraction.text import CountVectorizer

In [42]:
cv = CountVectorizer(max_features=5000, stop_words= 'english')

In [43]:
cv.fit_transform(new_df['all']).toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [44]:
vectors = cv.fit_transform(new_df['all']).toarray()

In [45]:
!pip3 install nltk

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nltk in /home/sunbeam/.local/lib/python3.10/site-packages (3.8.1)
Requirement already satisfied: click in /home/sunbeam/.local/lib/python3.10/site-packages (from nltk) (8.1.4)
Requirement already satisfied: joblib in /home/sunbeam/.local/lib/python3.10/site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /home/sunbeam/.local/lib/python3.10/site-packages (from nltk) (2024.7.24)
Requirement already satisfied: tqdm in /home/sunbeam/.local/lib/python3.10/site-packages (from nltk) (4.66.5)

In [46]:
import nltk

In [47]:
from nltk.stem.porter import PorterStemmer

In [48]:
ps = PorterStemmer()

In [49]:
def stem(text):
    l = []
    for i in text.split():
        l.append(ps.stem(i))
    return " ".join(l)

In [50]:
new_df['all'][0]

"araku valley andhrapradesh adventure araku valley is a comparatively unexplored hill station mostly visited by locals as a weekend getaway and is situated some 120 kilometres away from vishakhapatnam. if you're a tourist looking for exclusivity and tranquillity, vistadome train leaves vishakhapatnam at 6.50 am, making way through 58 tu... septembertofebruary 5480.2 4.8"

In [51]:
stem("araku valley andhrapradesh adventure araku valley is a comparatively unexplored hill station mostly visited by locals as a weekend getaway and is situated some 120 kilometres away from vishakhapatnam. if you're a tourist looking for exclusivity and tranquillity, vistadome train leaves vishakhapatnam at 6.50 am, making way through 58 tu... septembertofebruary 5480.2 4.8")

"araku valley andhrapradesh adventur araku valley is a compar unexplor hill station mostli visit by local as a weekend getaway and is situat some 120 kilometr away from vishakhapatnam. if you'r a tourist look for exclus and tranquillity, vistadom train leav vishakhapatnam at 6.50 am, make way through 58 tu... septembertofebruari 5480.2 4.8"

In [52]:
new_df['all'] = new_df['all'].apply(stem)

/tmp/ipykernel_12909/1764766006.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['all'] = new_df['all'].apply(stem)

In [53]:
cv = CountVectorizer(max_features=5000, stop_words= 'english')

In [54]:
vectors = cv.fit_transform(new_df['all']).toarray()

In [55]:
cv.get_feature_names_out()

array(['000', '02', '04', ..., 'zoo', 'zoolog', 'zuluk'], dtype=object)

In [56]:
from sklearn.metrics.pairwise import cosine_similarity

In [57]:
cosine_similarity(vectors)

array([[1.        , 0.04508348, 0.02567481, ..., 0.01937097, 0.07502345,
        0.        ],
       [0.04508348, 1.        , 0.2372895 , ..., 0.03580574, 0.09245003,
        0.1127087 ],
       [0.02567481, 0.2372895 , 1.        , ..., 0.02039118, 0.02632491,
        0.15404885],
       ...,
       [0.01937097, 0.03580574, 0.02039118, ..., 1.        , 0.05958436,
        0.09685486],
       [0.07502345, 0.09245003, 0.02632491, ..., 0.05958436, 1.        ,
        0.1500469 ],
       [0.        , 0.1127087 , 0.15404885, ..., 0.09685486, 0.1500469 ,
        1.        ]])

In [58]:
similarity = cosine_similarity(vectors)

In [59]:
similarity.shape

(640, 640)

In [60]:
similarity

array([[1.        , 0.04508348, 0.02567481, ..., 0.01937097, 0.07502345,
        0.        ],
       [0.04508348, 1.        , 0.2372895 , ..., 0.03580574, 0.09245003,
        0.1127087 ],
       [0.02567481, 0.2372895 , 1.        , ..., 0.02039118, 0.02632491,
        0.15404885],
       ...,
       [0.01937097, 0.03580574, 0.02039118, ..., 1.        , 0.05958436,
        0.09685486],
       [0.07502345, 0.09245003, 0.02632491, ..., 0.05958436, 1.        ,
        0.1500469 ],
       [0.        , 0.1127087 , 0.15404885, ..., 0.09685486, 0.1500469 ,
        1.        ]])

In [61]:
similarity[2]

array([0.02567481, 0.2372895 , 1.        , 0.15596257, 0.08458258,
       0.18918919, 0.02398006, 0.15534244, 0.244225  , 0.17549427,
       0.07045671, 0.20056488, 0.13812278, 0.09592023, 0.15042366,
       0.03874921, 0.0474579 , 0.09299811, 0.12006005, 0.11624764,
       0.13513514, 0.12837404, 0.17348856, 0.16216216, 0.14704292,
       0.1898316 , 0.19605723, 0.06774581, 0.02196874, 0.10667615,
       0.09695723, 0.05014122, 0.05287626, 0.0277885 , 0.07897472,
       0.11277677, 0.1239204 , 0.09394228, 0.10146926, 0.02507061,
       0.02739983, 0.05264981, 0.        , 0.03106849, 0.        ,
       0.03771571, 0.07897472, 0.        , 0.04355036, 0.        ,
       0.0328798 , 0.02666904, 0.0316386 , 0.055577  , 0.0328798 ,
       0.055577  , 0.02348557, 0.02398006, 0.03224129, 0.10028244,
       0.05014122, 0.07118685, 0.12683657, 0.        , 0.06974858,
       0.04901431, 0.01937461, 0.08489527, 0.09802862, 0.07702442,
       0.02599376, 0.06590622, 0.02702703, 0.        , 0.07271792,
       0.08156474, 0.        , 0.        , 0.        , 0.        ,
       0.05264981, 0.        , 0.06420878, 0.02478408, 0.06420878,
       0.0474579 , 0.02567481, 0.07271792, 0.        , 0.        ,
       0.02507061, 0.02819419, 0.02450715, 0.02279804, 0.        ,
       0.07194017, 0.        , 0.12535305, 0.0833655 , 0.08219949,
       0.02372895, 0.04393748, 0.14615085, 0.06974858, 0.02666904,
       0.09208185, 0.04474374, 0.07045671, 0.02008453, 0.06839411,
       0.04393748, 0.02104913, 0.02177518, 0.        , 0.        ,
       0.        , 0.04474374, 0.        , 0.        , 0.        ,
       0.        , 0.01752499, 0.04559608, 0.04649906, 0.        ,
       0.03106849, 0.        , 0.        , 0.02087869, 0.02478408,
       0.02122382, 0.        , 0.        , 0.        , 0.02423931,
       0.02702703, 0.        , 0.02423931, 0.        , 0.        ,
       0.01849633, 0.        , 0.        , 0.02122382, 0.02450715,
       0.        , 0.01732917, 0.        , 0.        , 0.12253577,
       0.        , 0.0328798 , 0.        , 0.04956816, 0.        ,
       0.09394228, 0.0328798 , 0.15404885, 0.05723638, 0.04956816,
       0.09695723, 0.05134962, 0.11742785, 0.04796011, 0.06974858,
       0.05073463, 0.04956816, 0.08108108, 0.02450715, 0.05479966,
       0.02536731, 0.04604093, 0.        , 0.02258194, 0.        ,
       0.        , 0.09695723, 0.02423931, 0.        , 0.02177518,
       0.13949717, 0.        , 0.02216755, 0.01964944, 0.02952693,
       0.04697114, 0.        , 0.        , 0.05134962, 0.12837404,
       0.        , 0.06367145, 0.07194017, 0.        , 0.0335578 ,
       0.07798129, 0.07702442, 0.        , 0.        , 0.        ,
       0.        , 0.02450715, 0.        , 0.05479966, 0.07521183,
       0.07798129, 0.0277885 , 0.05134962, 0.07521183, 0.04901431,
       0.04847862, 0.07352146, 0.02478408, 0.04697114, 0.02372895,
       0.07045671, 0.02536731, 0.04901431, 0.02324953, 0.07194017,
       0.07435224, 0.        , 0.        , 0.07271792, 0.04956816,
       0.07521183, 0.04956816, 0.05198752, 0.02450715, 0.02507061,
       0.02372895, 0.07702442, 0.07435224, 0.02023612, 0.07435224,
       0.09913632, 0.        , 0.        , 0.        , 0.        ,
       0.09672388, 0.07610194, 0.06774581, 0.02302046, 0.        ,
       0.05405405, 0.04956816, 0.04847862, 0.03958262, 0.        ,
       0.09119215, 0.02450715, 0.05723638, 0.05014122, 0.        ,
       0.04604093, 0.        , 0.        , 0.04697114, 0.10701463,
       0.        , 0.        , 0.07118685, 0.        , 0.07194017,
       0.        , 0.02478408, 0.        , 0.        , 0.02906191,
       0.02739983, 0.10028244, 0.        , 0.        , 0.        ,
       0.05405405, 0.05405405, 0.        , 0.        , 0.0474579 ,
       0.        , 0.04956816, 0.        , 0.05333807, 0.04209827,
       0.055577  , 0.08867022, 0.        , 0.02478408, 0.07702442,
       0.        , 0.07118685, 0.02196874, 0.04796011, 0.        ,
       0.        , 0.07118685, 0.02507061, 0.04796011, 0.05134962,
       0.        , 0.07194017, 0.02423931, 0.02739983, 0.07194017,
       0.        , 0.        , 0.07610194, 0.        , 0.        ,
       0.        , 0.        , 0.05905386, 0.02567481, 0.04847862,
       0.        , 0.        , 0.03224129, 0.02450715, 0.02478408,
       0.04516388, 0.        , 0.02302046, 0.0335578 , 0.        ,
       0.02632491, 0.10667615, 0.07271792, 0.05198752, 0.07702442,
       0.02071233, 0.2079501 , 0.04280585, 0.13334519, 0.08858079,
       0.06974858, 0.05723638, 0.06839411, 0.07798129, 0.07610194,
       0.0833655 , 0.        , 0.0856117 , 0.02567481, 0.09913632,
       0.08710071, 0.02398006, 0.        , 0.12119654, 0.05405405,
       0.16439899, 0.06420878, 0.07521183, 0.13334519, 0.05073463,
       0.0833655 , 0.02536731, 0.02302046, 0.02348557, 0.02398006,
       0.09695723, 0.04847862, 0.        , 0.02348557, 0.        ,
       0.        , 0.        , 0.02632491, 0.02023612, 0.        ,
       0.04956816, 0.02398006, 0.05073463, 0.        , 0.0172337 ,
       0.06839411, 0.        , 0.        , 0.02071233, 0.0828493 ,
       0.02039118, 0.04317329, 0.055577  , 0.02632491, 0.05264981,
       0.        , 0.        , 0.02372895, 0.        , 0.01964944,
       0.        , 0.05134962, 0.        , 0.02507061, 0.02258194,
       0.0474579 , 0.        , 0.        , 0.        , 0.        ,
       0.02087869, 0.02398006, 0.        , 0.04901431, 0.        ,
       0.02423931, 0.02450715, 0.02372895, 0.02104913, 0.        ,
       0.02237187, 0.04355036, 0.0631474 , 0.        , 0.        ,
       0.02023612, 0.        , 0.        , 0.04047223, 0.05333807,
       0.        , 0.07798129, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.02372895, 0.        , 0.        ,
       0.04901431, 0.02196874, 0.07009996, 0.0632772 , 0.        ,
       0.0717496 , 0.02952693, 0.02478408, 0.02279804, 0.02237187,
       0.02372895, 0.02398006, 0.        , 0.02348557, 0.        ,
       0.02567481, 0.06711561, 0.10810811, 0.02861819, 0.055577  ,
       0.02739983, 0.        , 0.        , 0.        , 0.02632491,
       0.02216755, 0.02158664, 0.17155008, 0.02302046, 0.07610194,
       0.12535305, 0.04796011, 0.05198752, 0.02237187, 0.0949158 ,
       0.03874921, 0.06448259, 0.        , 0.02372895, 0.06974858,
       0.04796011, 0.        , 0.02478408, 0.        , 0.        ,
       0.02104913, 0.0277885 , 0.04649906, 0.        , 0.02906191,
       0.04901431, 0.03106849, 0.04847862, 0.05264981, 0.05333807,
       0.06711561, 0.11185934, 0.02177518, 0.        , 0.        ,
       0.06117355, 0.04393748, 0.        , 0.04433511, 0.03902114,
       0.02666904, 0.07352146, 0.        , 0.        , 0.02478408,
       0.02450715, 0.02536731, 0.07118685, 0.        , 0.02324953,
       0.        , 0.02739983, 0.        , 0.07271792, 0.02324953,
       0.04559608, 0.02237187, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.08710071, 0.        , 0.        ,
       0.07435224, 0.02008453, 0.04796011, 0.        , 0.        ,
       0.055577  , 0.10529963, 0.        , 0.        , 0.02450715,
       0.04317329, 0.0474579 , 0.        , 0.        , 0.        ,
       0.04847862, 0.        , 0.02536731, 0.02258194, 0.11990028,
       0.10146926, 0.02819419, 0.05198752, 0.        , 0.02567481,
       0.111154  , 0.10529963, 0.02632491, 0.02450715, 0.13699916,
       0.        , 0.12119654, 0.        , 0.03504998, 0.        ,
       0.02632491, 0.02071233, 0.11510231, 0.02478408, 0.        ,
       0.05333807, 0.04901431, 0.07702442, 0.05264981, 0.02739983,
       0.07610194, 0.08108108, 0.05134962, 0.        , 0.06650266,
       0.05264981, 0.        , 0.11510231, 0.        , 0.04847862,
       0.05134962, 0.07521183, 0.09592023, 0.02423931, 0.        ,
       0.06855912, 0.        , 0.02104913, 0.        , 0.        ,
       0.        , 0.10793322, 0.06906139, 0.12837404, 0.03224129,
       0.05198752, 0.02324953, 0.02478408, 0.07194017, 0.06650266,
       0.02507061, 0.05134962, 0.04847862, 0.10959932, 0.02450715,
       0.02423931, 0.        , 0.        , 0.05014122, 0.05264981,
       0.        , 0.        , 0.02196874, 0.02702703, 0.055577  ,
       0.02819419, 0.        , 0.        , 0.12535305, 0.07045671,
       0.        , 0.08219949, 0.14091342, 0.15794944, 0.08108108,
       0.02666904, 0.        , 0.07521183, 0.05198752, 0.02536731,
       0.16216216, 0.04847862, 0.07435224, 0.07352146, 0.07194017,
       0.07435224, 0.12535305, 0.07435224, 0.05333807, 0.02702703,
       0.09299811, 0.06906139, 0.02039118, 0.02632491, 0.15404885])

In [62]:
new_df[new_df['your_type'] == 'Beach'].index[0]

1

In [63]:
sorted(similarity[0],reverse=True)

[1.0000000000000002,
 0.22895594055557905,
 0.22086305214969307,
 0.21146027322991795,
 0.20952908873087345,
 0.2028756678001723,
 0.1987767469347238,
 0.19676044536698506,
 0.18224227560060588,
 0.17494960673627816,
 0.1640529566390124,
 0.1629670690129016,
 0.16118595467047642,
 0.16118595467047642,
 0.16070147520167405,
 0.15946199115053014,
 0.15779218606680068,
 0.15617376188860607,
 0.15404884978892902,
 0.14734312783348066,
 0.1428976524688623,
 0.13997200839720098,
 0.13997200839720098,
 0.13997200839720098,
 0.13968605915391566,
 0.13968605915391566,
 0.13883861315765336,
 0.1366817067004544,
 0.13525044520011487,
 0.1301448015738384,
 0.126673647984535,
 0.12503908082008885,
 0.12346619958119871,
 0.12195121951219513,
 0.12195121951219512,
 0.12049067317796998,
 0.12049067317796996,
 0.11908137705738525,
 0.11908137705738525,
 0.11908137705738525,
 0.11900452556370289,
 0.11640504929492972,
 0.11640504929492972,
 0.11640504929492972,
 0.11534196721631887,
 0.11513282476462601,
 0.11390142225037868,
 0.11270870433342906,
 0.11270870433342906,
 0.11155268706329005,
 0.10626278551055639,
 0.10559273546969093,
 0.10411584125907071,
 0.10269923319261937,
 0.10253309789938275,
 0.101338918387628,
 0.101338918387628,
 0.10003126465607107,
 0.09988907373180403,
 0.09877295966495897,
 0.09769344135387542,
 0.0975609756097561,
 0.0975609756097561,
 0.09639253854237598,
 0.09639253854237598,
 0.09526510164590819,
 0.09526510164590819,
 0.09417632186960223,
 0.09370425713316365,
 0.09312403943594377,
 0.09312403943594377,
 0.09312403943594377,
 0.09210625981170081,
 0.09016696346674324,
 0.09016696346674324,
 0.08924214965063204,
 0.08924214965063204,
 0.08924214965063204,
 0.08834522085987724,
 0.08747480336813908,
 0.08347838711296822,
 0.08347838711296822,
 0.0828236445561349,
 0.08274288037841213,
 0.08035073760083702,
 0.0791945516022682,
 0.07870417814679402,
 0.07808688094430304,
 0.07808688094430304,
 0.07702442489446452,
 0.07702442489446452,
 0.07702442489446452,
 0.076004188790721,
 0.07502344849205331,
 0.07502344849205331,
 0.07502344849205331,
 0.07502344849205331,
 0.07502344849205331,
 0.07407971974871923,
 0.07362101738323104,
 0.07317073170731708,
 0.07317073170731708,
 0.07317073170731708,
 0.07317073170731708,
 0.07317073170731708,
 0.07229440390678199,
 0.07229440390678199,
 0.07229440390678199,
 0.07144882623443115,
 0.07063224140220167,
 0.07063224140220167,
 0.07063224140220167,
 0.07063224140220167,
 0.07063224140220167,
 0.06984302957695783,
 0.06984302957695783,
 0.06984302957695783,
 0.06984302957695783,
 0.06984302957695783,
 0.0690796948587756,
 0.0690796948587756,
 0.0690796948587756,
 0.0683408533502272,
 0.0683408533502272,
 0.0683408533502272,
 0.0683408533502272,
 0.0683408533502272,
 0.0683408533502272,
 0.06762522260005743,
 0.06762522260005743,
 0.06762522260005743,
 0.06762522260005743,
 0.06693161223797403,
 0.06693161223797403,
 0.06693161223797403,
 0.06693161223797403,
 0.06625891564490793,
 0.06625891564490793,
 0.06625891564490793,
 0.06560610252610431,
 0.06435634802102162,
 0.06435634802102162,
 0.06375767130633384,
 0.06375767130633384,
 0.0631753972713992,
 0.06260879033472616,
 0.06246950475544243,
 0.06246950475544243,
 0.06246950475544243,
 0.06099627595216836,
 0.06011130897782883,
 0.059988003598800424,
 0.059502262781851445,
 0.05800147905657416,
 0.0570265948512201,
 0.056099271345321444,
 0.055999004470991806,
 0.05521576303742327,
 0.054464493159869794,
 0.05437272478270369,
 0.05437272478270369,
 0.053049589176730555,
 0.052796367734845466,
 0.052796367734845466,
 0.052796367734845466,
 0.052796367734845466,
 0.052796367734845466,
 0.052057920629535355,
 0.05134961659630968,
 0.05134961659630968,
 0.05134961659630968,
 0.05134961659630968,
 0.050669459193814,
 0.050669459193814,
 0.050669459193814,
 0.050015632328035534,
 0.050015632328035534,
 0.050015632328035534,
 0.049386479832479485,
 0.049386479832479485,
 0.049386479832479485,
 0.049386479832479485,
 0.049386479832479485,
 0.04878048780487805,
 0.04878048780487805,
 0.04878048780487805,
 0.04878048780487805,
 0.04878048780487805,
 0.04878048780487805,
 0.04878048780487805,
 0.04819626927118799,
 0.04819626927118799,
 0.04819626927118799,
 0.047632550822954096,
 0.047632550822954096,
 0.047632550822954096,
 0.047632550822954096,
 0.047632550822954096,
 0.047632550822954096,
 0.047632550822954096,
 0.047088160934801115,
 0.047088160934801115,
 0.047088160934801115,
 0.047088160934801115,
 0.047088160934801115,
 0.047088160934801115,
 0.047088160934801115,
 0.047088160934801115,
 0.047088160934801115,
 0.047088160934801115,
 0.046562019717971886,
 0.046562019717971886,
 0.046562019717971886,
 0.046562019717971886,
 0.04605312990585041,
 0.04605312990585041,
 0.04605312990585041,
 0.04605312990585041,
 0.04605312990585041,
 0.04605312990585041,
 0.04605312990585041,
 0.04605312990585041,
 0.04556056890015147,
 0.04556056890015147,
 0.04556056890015147,
 0.04556056890015147,
 0.04556056890015147,
 0.04556056890015147,
 0.04556056890015147,
 0.04556056890015147,
 0.04508348173337162,
 0.04508348173337162,
 0.04508348173337162,
 0.04508348173337162,
 0.04462107482531602,
 0.04462107482531602,
 0.04462107482531602,
 0.04462107482531602,
 0.04462107482531602,
 0.04417261042993862,
 0.04417261042993862,
 0.04417261042993862,
 0.04417261042993862,
 0.04417261042993862,
 0.04373740168406954,
 0.04373740168406954,
 0.04373740168406954,
 0.04373740168406954,
 0.04373740168406954,
 0.043314808182421,
 0.043314808182421,
 0.043314808182421,
 0.043314808182421,
 0.042904232014014415,
 0.042904232014014415,
 0.04250511420422255,
 0.04250511420422255,
 0.04250511420422255,
 0.04211693151426613,
 0.04211693151426613,
 0.04173919355648411,
 0.04173919355648411,
 0.04173919355648411,
 0.04173919355648411,
 0.04173919355648411,
 0.04173919355648411,
 0.04137144018920606,
 0.04137144018920606,
 0.04137144018920606,
 0.04137144018920606,
 0.04137144018920606,
 0.04066418396811224,
 0.04066418396811224,
 0.04066418396811224,
 0.04066418396811224,
 0.03999200239920028,
 0.039668175187900966,
 0.03935208907339701,
 0.03874194221130299,
 0.03874194221130299,
 0.038447322405439625,
 0.03815932342592984,
 0.037602223109147265,
 0.037602223109147265,
 0.03582871819500093,
 0.03582871819500093,
 0.03492151478847891,
 0.03407990882954985,
 0.032924319888319654,
 0.03256448045129181,
 0.03204617977228226,
 0.03187883565316692,
 0.03187883565316692,
 0.03187883565316692,
 0.031234752377721216,
 0.030628194591584446,
 0.030628194591584446,
 0.029514066805047763,
 0.029514066805047763,
 0.02900073952828708,
 0.02851329742561005,
 0.028049635672660722,
 0.027607881518711633,
 0.027186362391351845,
 0.027186362391351845,
 0.026783579200279007,
 0.026783579200279007,
 0.026783579200279007,
 0.026398183867422733,
 0.026398183867422733,
 0.026398183867422733,
 0.026398183867422733,
 0.026398183867422733,
 0.026398183867422733,
 0.026398183867422733,
 0.026398183867422733,
 0.026028960314767677,
 0.026028960314767677,
 0.026028960314767677,
 0.026028960314767677,
 0.026028960314767677,
 0.02567480829815484,
 0.02567480829815484,
 0.02567480829815484,
 0.02567480829815484,
 0.02567480829815484,
 0.02567480829815484,
 0.02567480829815484,
 0.02567480829815484,
 0.025334729596907,
 0.025334729596907,
 0.025334729596907,
 0.025334729596907,
 0.025007816164017767,
 0.025007816164017767,
 0.025007816164017767,
 0.025007816164017767,
 0.025007816164017767,
 0.025007816164017767,
 0.025007816164017767,
 0.024693239916239743,
 0.024693239916239743,
 0.024693239916239743,
 0.024693239916239743,
 0.024693239916239743,
 0.024693239916239743,
 0.024390243902439025,
 0.024390243902439025,
 0.024390243902439025,
 0.024390243902439025,
 0.024390243902439025,
 0.024390243902439025,
 0.024098134635593994,
 0.024098134635593994,
 0.024098134635593994,
 0.024098134635593994,
 0.024098134635593994,
 0.024098134635593994,
 0.024098134635593994,
 0.024098134635593994,
 0.023816275411477048,
 0.023816275411477048,
 0.023816275411477048,
 0.023816275411477048,
 0.023816275411477048,
 0.023816275411477048,
 0.023816275411477048,
 0.023816275411477048,
 0.023816275411477048,
 0.023816275411477048,
 0.023816275411477048,
 0.023544080467400558,
 0.023544080467400558,
 0.023544080467400558,
 0.023544080467400558,
 0.023544080467400558,
 0.023544080467400558,
 0.023544080467400558,
 0.023544080467400558,
 0.023544080467400558,
 0.023544080467400558,
 0.023544080467400558,
 0.023281009858985943,
 0.023281009858985943,
 0.023281009858985943,
 0.023281009858985943,
 0.023026564952925203,
 0.023026564952925203,
 0.023026564952925203,
 0.023026564952925203,
 0.023026564952925203,
 0.023026564952925203,
 0.022780284450075735,
 0.022780284450075735,
 0.022780284450075735,
 0.022780284450075735,
 0.022780284450075735,
 0.022780284450075735,
 0.02254174086668581,
 0.02254174086668581,
 0.02254174086668581,
 0.02254174086668581,
 0.02254174086668581,
 0.02254174086668581,
 0.02254174086668581,
 0.02231053741265801,
 0.02231053741265801,
 0.02231053741265801,
 0.02208630521496931,
 0.02208630521496931,
 0.02208630521496931,
 0.02208630521496931,
 0.02208630521496931,
 0.02208630521496931,
 0.02208630521496931,
 0.02186870084203477,
 0.02186870084203477,
 0.02186870084203477,
 0.0216574040912105,
 0.0216574040912105,
 0.0216574040912105,
 0.0216574040912105,
 0.0216574040912105,
 0.0216574040912105,
 0.0216574040912105,
 0.021452116007007208,
 0.021452116007007208,
 0.021452116007007208,
 0.021252557102111276,
 0.021252557102111276,
 0.021252557102111276,
 0.021252557102111276,
 0.021252557102111276,
 0.021252557102111276,
 0.021058465757133066,
 0.020869596778242055,
 0.02068572009460303,
 0.02068572009460303,
 0.02068572009460303,
 0.02068572009460303,
 0.02033209198405612,
 0.02033209198405612,
 0.02033209198405612,
 0.020161945963637795,
 0.019676044536698505,
 0.019676044536698505,
 0.019370971105651495,
 0.019370971105651495,
 0.019370971105651495,
 0.019223661202719813,
 0.018801111554573632,
 0.018801111554573632,
 0.01853441561005319,
 0.01840525434580776,
 0.01815483105328993,
 0.017797651932695783,
 0.01757092099429725,
 0.01735264020984512,
 0.016743584773354764,
 0.016371458648164517,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0]

In [64]:
sorted(list(enumerate(similarity[0])),reverse=True,key = lambda x : x[1])[1:6]

[(521, 0.22895594055557905),
 (269, 0.22086305214969307),
 (198, 0.21146027322991795),
 (228, 0.20952908873087345),
 (61, 0.2028756678001723)]

In [65]:
sorted(similarity[0])[-10:-1]

[0.17494960673627816,
 0.18224227560060588,
 0.19676044536698506,
 0.1987767469347238,
 0.2028756678001723,
 0.20952908873087345,
 0.21146027322991795,
 0.22086305214969307,
 0.22895594055557905]

In [66]:
def recommend_try(beach):
    beach_index = new_df[new_df['your_type'] == beach].index[0]
    distances = similarity[beach_index]
    beach_list = sorted(list(enumerate(distances)),reverse=True,key = lambda x : x[1])[1:6]
    
    for i in beach_list:
#         print(new_df.iloc[i[0]].title)
        print(i[0])

In [67]:
recommend_try('Religious')

8
1
331
11
26

In [68]:
new_df['avg_accommodation_cost/day(Rs)'][6]

3797.06

In [69]:
def recommend(beach):
    beach_index = new_df[new_df['your_type'] == beach].index[0]
    distances = similarity[beach_index]
    beach_list = sorted(list(enumerate(distances)),reverse=True,key = lambda x : x[1])[1:6]
    
    for i in beach_list:
        
        print(new_df['avg_accommodation_cost/day(Rs)'][i[0]])

In [70]:
recommend('Beach')

3118.42
3474.9
4327.13
2401.25
2059.42

In [71]:
recommend('Beach')

3118.42
3474.9
4327.13
2401.25
2059.42